@import "./fonts.css";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #121214;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

img {
  max-width: 100%;
}

input {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 30%;
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 0.8rem;
  background-color: #212529;
}

.dashboard {
  border-bottom: 1px solid #212529;
}

.header {
  max-width: 30%;
}
